// ================ Custom Pallete =================
$primary: (
  50: #E1EECF,
  900: #A4CA70,
  A700: #86BC40,
  contrast: (
    50: #5F6871,
    900: #FFFFFF,
    A700: #FFFFFF,
  ));

$accent: (
  50: #ffffff,
  900: #E8EBED,
  A700: #b1b1b1,
  contrast: (
    50: #5F6871,
    900: #5F6871,
    A700: #5F6871,
  ));
