// ================ Custom Pallete =================
$primary: (
  50: #E1EECF,
  900: #2b2b2b,
  A700: #000000,
  contrast: (
    50: #5F6871,
    900: #FFFFFF,
    A700: #FFFFFF,
  ));

$accent: (
  50: #ffffff,
  900: #bfa75d,
  A700: #b1b1b1,
  contrast: (
    50: #5F6871,
    900: #5F6871,
    A700: #5F6871,
  ));
